/* * {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


  .header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    overflow: hidden;
    background-color: #f1f1f1;
  
  }
  
  .header a {
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin: 5px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a.logo img {
      height: 30px; 
      width: 150px; 
  }
  
  .header-right {
    display: flex;
    align-items: center; 
  }
  
.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
.logout-icon mat-icon {
    font-size: 24px;
    border-radius: 5%;
    background-color: rgb(69, 226, 229);
    color: white;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 17px;
    border-radius: 20%;
  }
.title{
    font-size: 25px;
    color: lightseagreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
} */
/***********2nd**********************/
/* * {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}


.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 20px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.logo img {
    height: 30px; 
    width: 150px; 
}
.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
.logout-icon mat-icon {
  font-size: 24px;
  border-radius: 5%;
  background-color: rgb(166, 168, 168);
  color: white;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 18px 17px;
  border-radius: 50%;
} */


.header {
  overflow: hidden;
  background-color: #f1f1f1;
  /* background-color: #028397; */
  padding: 6px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .header-right {
  display: flex;
  align-items: center;
}

.header .header-right span {
  margin-left: 20px;
  cursor: pointer;
  border-radius: 20%;
  padding: 4px;
}

.header a.logo img {
  height: 50px;
  width: 130px;
}

.header a.logo,
.header a.logo img {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.header .header-right span{
  /* color: white; */
  color: #028397;
}

.header .header-right span:hover,.header .header-right span.active:hover  {
  /* background-color: white;
  color: #028397; */
  color: white; 
  background-color:#028397;
}

/* .header a.active,
.header .header-right span.active {
  background-color: white;
  color: #028397;
} */

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
.header .header-right .mat-icon {
  /* margin: 0 6px;  */
  padding: 0; 
  font-size: 25px; 
}



