<div class="parent background-with-overlay">
  <div class="container" [@fadeInOut]="showNewComponent ? 'in' : 'out'">
    <div *ngFor="let image of images" class="box" (click)="onImageClick(image)">
      <div class="round-image"><img [src]="image.src" /></div>
      <p>{{ image.activityName }}</p>
      <p class="txt"><mat-icon>chat</mat-icon>Chat 1</p>
      <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p>
    </div>
  </div>
  <div *ngIf="showNewComponent" class="new-component">
    <app-new-slide-page
      [image]="clickedImage"
      [activityName]="clickedActivityName"
      (close)="onCloseNewComponent()"
    ></app-new-slide-page>
  </div>
