<div class="container">
    <div class="box">
        <div class="round-image"><img  src="assets/Logo.png"></div>
        <p>Activity 1</p>
        <p class="txt"><mat-icon>chat</mat-icon>Chat       1</p>
        <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p>
    </div>
    <div class="box">
        <div class="round-image"><img  src="assets/Logo.png"></div>
        <p>Activity 2</p>
        <p class="txt"><mat-icon>chat</mat-icon>Chat       1</p>
        <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p>
    </div>
    <div class="box">
        <div class="round-image"><img  src="assets/Logo.png"></div>
        <p>Activity 3</p>
        <p class="txt"><mat-icon>chat</mat-icon>Chat       1</p>
        <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p>
    </div>
    <div class="box">
        <div class="round-image"><img  src="assets/Logo.png"></div>
        <p>Activity 4</p>
        <p class="txt"><mat-icon>chat</mat-icon>Chat       1</p>
        <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p>
    </div>
    <div class="box">
        <div class="round-image"><img  src="assets/Logo.png"></div>
        <p>Activity 5</p>
        <p class="txt"><mat-icon>chat</mat-icon>Chat       1</p>
        <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p>
    </div>
    <div class="box">
        <div class="round-image"><img  src="assets/Logo.png"></div>
        <p>Activity 6</p>
        <p class="txt"><mat-icon>chat</mat-icon>Chat       1</p>
        <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p>
    </div>
    <div class="box">
        <div class="round-image"><img  src="assets/Logo.png"></div>
        <p>Activity 7</p>
        <p class="txt"><mat-icon>chat</mat-icon>Chat       1</p>
        <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p>
    </div>
    <div class="box">
        <div class="round-image"><img  src="assets/Logo.png"></div>
        <p>Activity 8</p>
        <!-- <p class="txt"><mat-icon>chat</mat-icon>Chat       1</p> -->
       <p> <span class="ct">chat</span><span>1</span></p>
       <p> <span class="ct">Unresolved</span><span>45</span></p>
        <!-- <p class="txt"><mat-icon>file_copy</mat-icon>Unresolved 45</p> -->
    </div>
    </div>