/* .copy-right-sec {
    padding: 1.8rem;
    background: #82074a;
    color: #fff;
    text-align: center;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .copy-right-sec a {
    color: #fcd462;
    font-weight: 500;
  }
  
  .copy-right-sec i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
   */
   .copy-right-sec {
    padding: 0.6rem;
    background: #028397;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .copy-right-sec a {
    color: #fcd462;
    font-weight: 500;
  }