<br>
<div class=" static-contact-info">
    <h5>Contact Info</h5>
    Name : <span id="fname" class="LiveParagraph">{{ newContact.firstName }}</span>
    <br>
    Email : <span id="fname" class="LiveParagraph">{{ newContact.email }}</span>
</div>

<br>

<div class="container">
    <h2>Capture Form</h2>
    <div class="container1">
    <div *ngIf="contactList.length > 0; else noContacts">
     
        <form #contactForm="ngForm" (ngSubmit)="contactForm.valid && addCapture()">
        <ng-container *ngFor="let contact of contactList">
            <div class="data-row">
                <div class="">
                    <label>{{ contact.questionText }}</label>
                    <input [type]="getInputType(contact.inputTypeID)" class="" placeholder="enter {{ contact.questionText }}" required *ngIf="getInputType(contact.inputTypeID) === 'checkbox' || getInputType(contact.inputTypeID) !== ''">

                    
                </div>
                
                <!-- <ng-container *ngIf="getInputType(contact.inputTypeID) === ''">
                    <label>
                        <input type="radio" name="gender" value="male"> Male
                   
                        <input type="radio" name="gender" value="female"> Female
                   
                        <input type="radio" name="gender" value="other"> Other
                    </label>
                </ng-container> -->
                    <label *ngIf="getInputType(contact.inputTypeID) === 'radio'">
                      <input type="radio" name="gender" value="male"> Male
                      <input type="radio" name="gender" value="female"> Female
                      <input type="radio" name="gender" value="other"> Other
                    </label>
                    <div *ngIf="getInputType(contact.inputTypeID) === 'checkbox'">
                      <label>
                        <input type="checkbox" name="agree" value="agree"> I agree
                        <input type="checkbox" name="agree" value="agree"> Not like this
                        <input type="checkbox" name="agree" value="agree"> Other 
                      </label>
                    </div>
            </div>
        </ng-container>
        
        <input type="submit" class="btn btn-danger" value="Submit">
        </form>
    </div>
    
    
</div>


<ng-template #noContacts>
    <p>No contacts available.</p>
  </ng-template>