
<div *ngIf="contactList.length > 0; else noContacts">
    <table>
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contactList ; let i = index">
                <td>{{ i + 1 }}</td>
                <td (click)="Capture(contact.id)">{{ contact.firstName }} {{ contact.lastName }}</td>
                <td>
                    <button (click)="editContact(contact.id)">Edit</button>
                    <button (click)="DeleteContact(contact.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
  
  <ng-template #noContacts>
    <p>No contacts available.</p>
  </ng-template>
  