/* h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .parent{
    padding: 20px;
  }
  p {
    font-size: 16px;
    margin-bottom: 24px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 24px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
  }
  
  button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .primary-button {
    background-color: rgb(40, 107, 207);
    color: white;
  }
  
  .primary-button:hover {
    background-color: rgb(14, 68, 169);
  }
  
  .secondary-button {
    background-color: #f44336;
    color: white;
  }
  
  .secondary-button:hover {
    background-color: #d32f2f;
  }
  
  
  .cancel-icon {
    font-size: 24px;
    cursor: pointer;
    color: #666;
  }
  
  .cancel-icon:hover {
    color: #444;
  }
  h2 {
    position: relative;
  }
  
  .cancel-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
    color: #666;
  }
  
  .cancel-icon:hover {
    color: #444;
  }
  .custom-input {
    background-color: transparent;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid black; 
  }
   */


   h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .parent {
    padding: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 24px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 24px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
  }
  
  button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .primary-button {
    background-color: rgb(40, 107, 207);
    color: white;
  }
  
  .primary-button:hover {
    background-color: rgb(14, 68, 169);
  }
  
  .secondary-button {
    background-color: #f44336;
    color: white;
  }
  
  .secondary-button:hover {
    background-color: #d32f2f;
  }
  
  .cancel-icon {
    font-size: 24px;
    cursor: pointer;
    color: #666;
  }
  
  .cancel-icon:hover {
    color: #444;
  }
  
  h2 {
    position: relative;
  }
  
  .cancel-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;
    color: #666;
  }
  
  .cancel-icon:hover {
    color: #444;
  }
  
  .custom-input {
    background-color: transparent;
    outline: none;
    font-size: 16px;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid black;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    .buttons {
      margin: 0 20px;
    }
  
    button {
      padding: 8px 10px;
    }
  
    h2 {
      font-size: 20px;
    }
  }
  