<div class="new-slide-page" [@slideInOut]>
  <div class="slide-content">
    <button class="close-button" (click)="closePopup()"><mat-icon>cancel</mat-icon></button>
    <div class="circle-container">
      <img [src]="image.src || 'placeholder-image.jpg'" />
    </div>

    <p class="activitytxt">{{ activityName }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <div class="count-container">
          <mat-icon class="pendinglist">pending_list</mat-icon>
          <span class="txt">12</span>
        </div>
        <p class="text">Pending to Respond</p>
      </div>
      <div class="vertical-line"></div>
      <div class="flex-item">
        <div class="count-container">
          <mat-icon class="chat">chat</mat-icon>
          <span class="txt">12</span>
        </div>
        <p class="text">Chat</p>
      </div>
      <div class="vertical-line"></div>
      <div class="flex-item">
        <div class="count-container">
          <mat-icon class="file">file_copy</mat-icon>
          <span class="txt">12</span>
        </div>
        <p class="text">Unresolved</p>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="row-container">
      <div class="count-container">
        <mat-icon class="out">launch</mat-icon>
        <span class="outtext">OUT</span>
        <span class="txt count">3</span>
      </div>
      <div class="count-container">
        <mat-icon class="in">transit_enterexit</mat-icon>
        <span class="intext">IN</span>
        <span class="txt count">4</span>
      </div>
    </div>
    <p class="activitytxt" style="margin-top: 130px;">Last 30 Days</p>
    <div class="horizontal-line"></div>
    <div class="container">
        <div class="flex-container-2x2">
          <div class="flex-item-2x2">
            <div class="count-container">
              <mat-icon class="icon captureicon">assignment</mat-icon>
              <p class="textt" (click)="GetContatlist()">Capture</p>
              <!-- <span class="txtt">12</span> -->
            </div>
          </div>
          <div class="flex-item-2x2">
            <div class="count-container">
              <mat-icon class="icon Feedbackicon">comment</mat-icon>
              <p class="textt">Feedback</p>
              <!-- <span class="txtt">12</span> -->
            </div>
          </div>
          <div class="flex-item-2x2">
            <div class="count-container">
              <mat-icon class="icon Analysisicon">assessment</mat-icon>
              <p class="textt">Analysis</p>
              <!-- <span class="txtt">12</span> -->
            </div>
          </div>
          <div class="flex-item-2x2">
            <div class="count-container">
              <mat-icon class="icon Drafticon">description</mat-icon>
              <p class="textt">Draft</p>
              <span class="txtt">12</span>
            </div>
          </div>
        </div>
      </div>      
  </div>
</div>
