  .slide-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .new-slide-page {
    position: fixed;
    top: 62px;
    right: 0;
    bottom: 39px;
    width: 50%;
    z-index: 1000;
    overflow-y: auto;
    z-index: 1000;
    background-color: #116466;
  }

  @media (max-width: 768px) {
    .new-slide-page {
      width: 100%;
    }
  }

  .slide-content {
    padding: 20px;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(185, 185, 185);
  }

  .mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: auto;
    width: 24px;
    overflow: hidden;
  }

  .close-button mat-icon {
    font-size: 26px;
  }

  .activitytxt {
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 10px;
  }

  .circle-container {
    width: 120px;
    height: 120px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
  }


  .circle-container img {
    max-width: 70%;
    max-height: 70%;
  }


  .horizontal-line {
    height: 1px;
    width: 0;
    background-color: #555454;
    margin-top: 10px;
    animation: spread 2s forwards 1s;
  }

  @keyframes spread {
    from {
      width: 0;
      margin-left: 50%;
    }

    to {
      width: 100%;
      height: 1px;
      margin-left: 0;
    }
  }

  .row-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .row-container .count-container {
    margin: 0 30px;
  }

  .row-container .count-container span {
    margin-left: 5px;
  }


  .vertical-line {
    width: 1px;
    height: 80px;
    background-color: #555454;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }

  .count-container {
    display: flex;
    align-items: center;
  }

  .flex-item p {
    margin-top: 10px;
  }

  .count-container span {
    margin-left: 5px;
  }

  .txt {
    font-size: 15px;
    color: white;
  }

  .out {
    color: red;
    font-size: 18px;
  }

  .in {
    color: rgb(57, 200, 57);
    font-size: 18px;
  }

  .outtext {
    font-size: 15px;
    color: red;
    margin-right: 10px;
    font-weight: bold;
  }

  .intext {
    font-size: 15px;
    color: rgb(20, 169, 20);
    margin-right: 10px;
    font-weight: bold;
  }

  .count {
    border: 1px solid black;
    padding: 0px 15px;
    border-radius: 30px;
    background-color: gray;
    color: white;
  }

  .chat {
    color: blue;
  }

  .pendinglist {
    color: green;
  }

  .file {
    color: red;
  }

  .text {
    color: rgb(183, 180, 180);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    padding: 0 160px;
  }

  .flex-container-2x2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  .flex-item-2x2 {
    flex: 1 0 calc(50% - 30px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(156, 155, 155, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex-direction: column;
  }

  .count-container {
    display: flex;
    align-items: center;
  }

  .count-container .icon {
    font-size: 24px;
    padding: 5px;
    width: 34px;
    height: 35px;
    margin-right: 10px;
    color: white;
    border-radius: 20%;
  }

  .captureicon {
    background-color: rgb(48, 181, 205);
  }

  .Feedbackicon {
    background-color: rgb(9, 115, 186);
  }

  .Analysisicon {
    background-color: rgb(25, 196, 73);

  }

  .Drafticon {
    background-color: rgb(20, 158, 139);
  }

  .count-container .txtt {
    font-size: 15px;
    padding: 0px 10px;
    border-radius: 30px;
    background-color: gray;
    color: white;
    background-color: red;
    margin-left: 35px;
  }

  .textt {
    font-size: 14px;
    color: white;
    margin: 0;
  }

  @media (max-width: 768px) {
    .flex-container-2x2 {
      margin-top: 20px;
    }

    .flex-item-2x2 {
      flex: 1 0 calc(100% - 10px);
      margin: 5px;
    }
  }